@font-face {
  font-family: "Golos";
  src: url("../fonts/GolosText-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("../fonts/GolosText-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  src: url("../fonts/GolosText-Black.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.ttf");
  font-weight: 300;
  font-style: normal;
}